@import url('https://fonts.googleapis.com/css?family=Oxygen');

.tux1 {
  font-family: 'Oxygen';
  color: #ef4646;
  font-style: normal;
  font-weight: bold;
  font-size: 2.5rem;
  text-align: center;
  margin-top: 6px;
  align-self: center;
}

@media only screen and (max-height: 800px) and (min-height: 700px) and (max-width: 1350px) and (min-width: 1110px) {
  .tux1 {
    font-family: 'Oxygen';
    color: #ef4646;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    margin-top: 10px;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1200px) {
  #fre {
    transform: scale(0.69);
  }
  #fre1 {
    transform: scale(0.69);
  }
  #fre2 {
    transform: scale(0.78);
  }
}
@media only screen and (min-width: 300px) and (max-width: 500px) {
  #fre {
    transform: scale(0.69);
    margin-left: -2vw;
  }
  #fre1 {
    transform: scale(0.69);
  }
  #fre2 {
    transform: scale(0.69);
  }
  .tux1 {
    font-size: 1.925rem;
  }
}
@media only screen and (min-width: 500px) and (max-width: 800px) {
  #fre {
    transform: scale(0.79);
  }
  #fre1 {
    /* transform: scale(0.69); */
  }
  #fre2 {
    transform: scale(0.69);
  }
  .tux1 {
    font-size: 1.5rem;
  }
}
